.caja1{
       width: 33.33%;
    margin-bottom: 20px;
    padding: 0px;
    float: left;
}

@media (max-width: 768px){
    .caja1{
        width: 80%;
     margin-bottom: 20px;
     padding: 0px;
     float: left;
}

.derecha{
      padding-bottom: 50%;

     float: left;
     display: block;
     width: 40%;
     list-style: none;
}
 
.lista{
    list-style: none;
    padding: 0px;
}

 .medio{
     padding: 0px;
     float: right;
     width: 60%;
 }
 
 .abajo{
     width: 60%;
    float: right;
  }

}

@media(max-width:420px){
    .caja1{
    width: 100%;
     padding: 0px;
     float: right;
 }

 ul{
     list-style: none;
     padding: 0px;
 }

}